@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

body {
  font-family: "Inter", sans-serif;
  overflow-x: hidden;
}

.wrapper-top {
  background-image: -webkit-gradient(linear, right top, left bottom, from(#3b1d60), color-stop(50%, #040d3e));
  background-image: linear-gradient(to left bottom, #3b1d60 0%, #040d3e 50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.wrapper-bottom {
  background-color: #040D3E;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container {
  max-width: 1100px;
}

.button-transparent {
  z-index: 1;
  font-size: 12px;
  font-weight: 500;
  color: #F2994A;
  background: transparent;
  border: solid 1px #F2994A;
  border-radius: 4px;
  width: 112px;
  height: 36px;
  margin-right: 20px;
}
.button-transparent:hover {
  cursor: pointer;
  -webkit-box-shadow: 0 0 10px #F2994A;
          box-shadow: 0 0 10px #F2994A;
  text-shadow: 0 0 10px #F2994A;
  -webkit-transition: text-shadow 0.5s, -webkit-box-shadow 0.5s;
  transition: text-shadow 0.5s, -webkit-box-shadow 0.5s;
  transition: box-shadow 0.5s, text-shadow 0.5s;
  transition: box-shadow 0.5s, text-shadow 0.5s, -webkit-box-shadow 0.5s;
}

.button-non-transparent {
  z-index: 1;
  font-size: 12px;
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  background-color: #F2994A;
  border: solid 1px #F2994A;
  border-radius: 4px;
  width: 112px;
  height: 36px;
  margin-right: 10px;
}
.button-non-transparent:hover {
  cursor: pointer;
  -webkit-box-shadow: 0 0 10px #F2994A;
          box-shadow: 0 0 10px #F2994A;
  text-shadow: 0 0 10px #040D3E;
  -webkit-transition: text-shadow 0.5s, -webkit-box-shadow 0.5s;
  transition: text-shadow 0.5s, -webkit-box-shadow 0.5s;
  transition: box-shadow 0.5s, text-shadow 0.5s;
  transition: box-shadow 0.5s, text-shadow 0.5s, -webkit-box-shadow 0.5s;
}

.orange-word {
  color: #F2994A;
  font-size: inherit;
  font-weight: inherit;
}

.header {
  margin: 60px 0 100px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__logo {
  border: medium none;
  background: transparent;
  width: 36px;
  height: 36px;
  background-image: url("../icons/Logo.svg");
  margin-right: 46px;
}
.header__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__button {
  color: #B5B5B5;
  border: none;
  background: transparent;
  font-size: 12px;
  font-weight: 300;
  margin-right: 20px;
}
.header__button:hover {
  -webkit-transition: color 0.5s, text-shadow 0.5s;
  transition: color 0.5s, text-shadow 0.5s;
  color: #99EFD0;
  text-shadow: 0px 0px 2px #99EFD0;
}
.header__right {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.title {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}
.title__left {
  max-width: 540px;
  max-height: 440px;
}
.title__text {
  color: #99EFD0;
  font-size: 44px;
  font-weight: 600;
}
.title__subtext {
  margin: 20px 0px 40px 0px;
  color: #8476AA;
  font-size: 18px;
  font-weight: 200;
}
.title__buttons {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-bottom: 45px;
}
.title__video {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}
.title__video-description {
  margin: 20px;
  color: #8476AA;
  font-size: 16px;
}
.title__img {
  max-width: 540px;
  max-height: 630px;
  opacity: 0.7;
  background-image: url();
}

.companies {
  margin: 50px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.companies__button {
  border: medium none;
  background: transparent;
}
.companies__svg {
  opacity: 0.3;
  width: auto;
  height: auto;
}

.your-choise-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  margin: 25px 0px 50px 0;
}
.your-choise-top__title {
  color: #99EFD0;
  line-height: 3;
  font-size: 42px;
  font-weight: 700;
}
.your-choise-top__subtitle {
  color: #8476AA;
  font-size: 16px;
  font-weight: 100;
}

.your-choise {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}
.your-choise__img {
  max-width: 24px;
  max-height: 24px;
}
.your-choise__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 50px;
}
.your-choise__row {
  text-align: center;
  margin-bottom: 35px;
  font-weight: 100;
}
.your-choise__text1 {
  color: #99EFD0;
  font-size: 18px;
  line-height: 2;
}
.your-choise__text2 {
  color: #8476AA;
  font-size: 14px;
}

.business {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 50px;
}
.business__left {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 470px;
}
.business__title {
  color: #99EFD0;
  font-size: 42px;
  font-weight: 700;
  line-height: 50px;
  margin-bottom: 32px;
}
.business__subtitle {
  color: #8476AA;
  font-size: 15px;
  font-weight: 100;
  line-height: 28px;
  letter-spacing: 0.5px;
  margin-bottom: 40px;
}
.business__right {
  max-width: 440px;
  max-height: 400px;
  display: inline-block;
}
.business__graph {
  position: relative;
  top: 80px;
  left: 150px;
  z-index: 4;
  max-width: auto;
  max-height: auto;
}
.business__arrow {
  position: relative;
  top: 200px;
  left: 100px;
  z-index: 3;
  max-width: auto;
  max-height: auto;
}
.business__hand {
  position: relative;
  top: -200px;
  left: 200px;
  z-index: 2;
  max-width: auto;
  max-height: auto;
}
.business__dots {
  position: relative;
  top: -150px;
  left: 150px;
  z-index: 1;
  max-width: auto;
  max-height: auto;
}

.savings {
  margin-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.savings__top {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}
.savings__title {
  font-size: 36px;
  font-weight: 700;
  line-height: 42px;
  color: #99EFD0;
  max-width: 860px;
}
.savings__subtitle {
  margin: 32px 0 50px 0;
  font-size: 15px;
  font-weight: 100;
  line-height: 20px;
  color: #8476AA;
  max-width: 400px;
}
.savings__bottom {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.savings__column {
  max-width: 290px;
  text-align: center;
}
.savings__text1 {
  font-size: 36px;
  font-weight: 700;
  line-height: 75px;
  color: #99EFD0;
}
.savings__text2 {
  font-size: 15px;
  font-weight: 100;
  line-height: 20px;
  color: #8476AA;
}

.new-project {
  margin: 130px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.new-project__title {
  text-align: center;
  max-width: 770px;
  color: #99EFD0;
  font-size: 42px;
  font-weight: 700;
  line-height: 50px;
  padding-bottom: 50px;
}
.new-project__img {
  z-index: 0;
  position: relative;
  top: -40px;
  left: 0px;
  max-width: auto;
  max-height: auto;
}

.business-second {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  vertical-align: middle;
  max-height: 500px;
}
.business-second__left {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 470px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.business-second__title {
  color: #99EFD0;
  font-size: 42px;
  font-weight: 700;
  line-height: 50px;
  padding-bottom: 32px;
}
.business-second__subtitle {
  color: #8476AA;
  font-size: 15px;
  font-weight: 100;
  line-height: 28px;
  letter-spacing: 0.5px;
  padding-bottom: 40px;
}
.business-second__img1 {
  position: relative;
  top: 50px;
  left: 75px;
  z-index: 2;
}
.business-second__img2 {
  position: relative;
  top: -300px;
  left: 50px;
  z-index: 1;
  max-height: auto;
  max-width: auto;
}

.finding-info {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}
.finding-info__left {
  margin-right: 150px;
}
.finding-info__img1 {
  position: relative;
  top: 250px;
  left: 340px;
  z-index: 1;
}
.finding-info__img2 {
  position: relative;
  top: 80px;
  left: -100px;
  z-index: 1;
}
.finding-info__img3 {
  position: relative;
  top: 250px;
  left: 0px;
  z-index: 2;
}
.finding-info__img4 {
  position: relative;
  top: -100px;
  left: 75px;
  z-index: 3;
  max-width: auto;
  max-height: auto;
}
.finding-info__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.finding-info__right-top {
  padding-bottom: 50px;
}
.finding-info__title {
  color: #99EFD0;
  font-size: 26px;
  font-weight: 700;
  line-height: 64px;
}
.finding-info__subtitle {
  color: #8476AA;
  font-size: 15px;
  font-weight: 100;
  line-height: 20px;
}
.finding-info__right-bottom {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}
.finding-info__column {
  padding-right: 50px;
}
.finding-info__img {
  width: 36px;
  height: 36px;
}
.finding-info__text1 {
  color: #99EFD0;
  font-size: 15px;
  font-weight: 700;
  line-height: auto;
  padding: 10px 0px;
}
.finding-info__text2 {
  color: #8476AA;
  font-size: 15px;
  font-weight: 100;
  line-height: 20px;
}

.get-down {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 320px;
  background-color: #1F2157;
  border-radius: 4px;
}
.get-down__title {
  color: #F2994A;
  font-size: 36px;
  font-weight: 500;
  line-height: 43px;
  padding-bottom: 20px;
}
.get-down__subtitle {
  color: #95A1BB;
  font-size: 16px;
  font-weight: 100;
  line-height: 22px;
  padding-bottom: 23px;
}
.get-down__form {
  padding-bottom: 13px;
}
.get-down__input {
  width: 288px;
  height: 50px;
  margin-right: -5px;
  border-radius: 4px 0 0 4px;
  background-color: #8476AA;
  padding-left: 20px;
  color: #FFFFFF;
}
.get-down__input::-webkit-input-placeholder {
  padding-left: 15px;
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 100;
}
.get-down__input::-moz-placeholder {
  padding-left: 15px;
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 100;
}
.get-down__input:-ms-input-placeholder {
  padding-left: 15px;
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 100;
}
.get-down__input::-ms-input-placeholder {
  padding-left: 15px;
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 100;
}
.get-down__input::placeholder {
  padding-left: 15px;
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 100;
}
.get-down__send {
  width: 128px;
  height: 50px;
  border-radius: 0 4px 4px 0;
  color: #FFFFFF;
  font-weight: 100;
  background-color: #F2994A;
}
.get-down__underinput {
  color: #8476AA;
  font-size: 15px;
  font-weight: 100;
  line-height: 22px;
}

.footer {
  margin-top: 150px;
  margin-bottom: 50px;
}
.footer__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__title {
  color: #F2994A;
  font-size: 26px;
  font-weight: 700;
  line-height: 32px;
}
.footer__button {
  border: medium none;
  background: transparent;
  border-radius: 50%;
  margin-right: 16px;
}
.footer__button:hover {
  -webkit-box-shadow: 0 0 5px #F2994A;
          box-shadow: 0 0 5px #F2994A;
  -webkit-transition: -webkit-box-shadow 1s;
  transition: -webkit-box-shadow 1s;
  transition: box-shadow 1s;
  transition: box-shadow 1s, -webkit-box-shadow 1s;
}
.footer__lists {
  padding-top: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer__lists-title {
  color: #FFFFFF;
  font-size: 15px;
  font-weight: 100;
  line-height: 60px;
}
.footer__list-body {
  list-style: none;
  color: #8476AA;
  font-size: 15px;
  font-weight: 300;
  line-height: 40px;
}
.footer__copyrights {
  padding-top: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #8D8D8D;
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
}
.footer__copyrights-text {
  padding-right: 32px;
}

@media (max-width: 1200px) {
  .header {
    margin: 20px 0 30px 0;
  }
  .header__logo {
    margin-left: 30px;
    width: 24px;
    height: 24px;
    background-size: contain;
    background-position: center;
    margin-right: 24px;
  }
  .header__left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .title__img {
    display: none;
  }

  .your-choise {
    margin-left: 20px;
  }

  .companies {
    margin: 50px 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .business {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .business__left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 470px;
  }
  .business__graph {
    display: none;
  }
  .business__arrow {
    display: none;
  }
  .business__hand {
    display: none;
  }
  .business__dots {
    display: none;
  }

  .new-project {
    margin: 130px 0 130px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .new-project__title {
    text-align: center;
  }
  .new-project__img {
    display: none;
  }

  .business-second {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .business-second__left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 470px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .business-second__img1 {
    display: none;
  }
  .business-second__img2 {
    display: none;
  }

  .finding-info {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    margin: 100px 40px;
    max-width: auto;
    max-height: auto;
  }
  .finding-info__left {
    display: none;
  }
  .finding-info__img1 {
    display: none;
  }
  .finding-info__img2 {
    display: none;
  }
  .finding-info__img3 {
    display: none;
  }
  .finding-info__img4 {
    display: none;
  }

  .get-down {
    text-align: center;
    max-width: auto;
    margin: 0 40px;
  }

  .footer {
    margin: 100px 40px;
    margin-bottom: 50px;
  }
}
@media (max-width: 653px) {
  .body {
    z-index: 2;
  }

  .header {
    margin: 20px 0 30px 0;
  }
  .header__logo {
    margin-left: 30px;
    width: 24px;
    height: 24px;
    background-size: contain;
    background-position: center;
    margin-right: 24px;
  }
  .header__left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    height: 100%;
    background-color: #F2994A;
  }
  .header__button {
    z-index: 1;
  }

  .title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .title__img {
    display: none;
  }

  .your-choise {
    margin-left: 20px;
  }

  .companies {
    margin: 50px 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .business {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .business__left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 470px;
  }
  .business__graph {
    display: none;
  }
  .business__arrow {
    display: none;
  }
  .business__hand {
    display: none;
  }
  .business__dots {
    display: none;
  }

  .new-project {
    margin: 130px 0 130px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .new-project__title {
    text-align: center;
  }
  .new-project__img {
    display: none;
  }

  .business-second {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .business-second__left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 470px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .business-second__img1 {
    display: none;
  }
  .business-second__img2 {
    display: none;
  }

  .finding-info {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    margin: 100px 40px;
    max-width: auto;
    max-height: auto;
  }
  .finding-info__left {
    display: none;
  }
  .finding-info__img1 {
    display: none;
  }
  .finding-info__img2 {
    display: none;
  }
  .finding-info__img3 {
    display: none;
  }
  .finding-info__img4 {
    display: none;
  }

  .get-down {
    text-align: center;
    max-width: auto;
    margin: 0 40px;
  }

  .footer {
    margin: 100px 40px;
    margin-bottom: 50px;
  }
}